<div class="card">
  <div class="card-header">Détails</div>
  <div class="card-block">
    <div class="row">
      <div id="filename" class="col">project.pdf</div>
    </div>
    <div class="row">
      <div class="col-5">Origine</div>
      <div class="col">Google Drive</div>
    </div>
    <div class="row">
      <div class="col-5">Type</div>
      <div class="col">PDF</div>
    </div>
    <div class="row">
      <div class="col-5">Taille</div>
      <div class="col">124 Ko</div>
    </div>
  </div>
</div>
