<div class="card">
  <div class="card-header">Services</div>
  <div class="card-block">
    <div class="row">
      <div class="col">
        <button class="btn btn-primary service-button" (click)="logInGoogle()">Google Drive</button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="btn btn-primary service-button" (click)="logInDropbox()">Dropbox</button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="btn service-button" (click)="logInOneDrive()" disabled>OneDrive</button>
      </div>
    </div>
  </div>
</div>
