<div class="card">
  <div class="card-header">Mon Metadrive > Projet</div>
  <div class="card-block">
    <div class="row justify-content-start">
      <div class="col-3 element">
        <div class="row">
          <div class="col element-image">
            <img src={{folderImagePath}}>
          </div>
        </div>
        <div class="row">
          <div class="col element-name">images</div>
        </div>
      </div>
      <div class="col-3 element">
        <div class="row">
          <div class="col element-image">
            <img src={{folderImagePath}}>
          </div>
        </div>
        <div class="row">
          <div class="col element-name">back-end</div>
        </div>
      </div>
      <div class="col-3 element">
        <div class="row">
          <div class="col element-image">
            <img src={{fileImagePath}}>
          </div>
        </div>
        <div class="row">
          <div class="col element-name">notes.txt</div>
        </div>
      </div>
      <div class="col-3 element">
        <div class="row">
          <div class="col element-image">
            <img src={{fileImagePath}}>
          </div>
        </div>
        <div class="row">
          <div class="col element-name">sprint.pdf</div>
        </div>
      </div>
      <div class="col-3 element">
        <div class="row">
          <div class="col element-image">
            <img src={{fileImagePath}}>
          </div>
        </div>
        <div class="row">
          <div class="col element-name">TP1.odt</div>
        </div>
      </div>
    </div>
  </div>
</div>
